<div class="premises">
  <div class="beggin-text">
    <p>
      Ponúkame nasledovné pristory pre Vašu svadbu. Kliknite na jednotlivé
      obrázky pre viac informácií.
    </p>
  </div>

  <div class="image-container">
    <a routerLink="/svadby/priestory/kryta-terasa">
      <img src="assets/img/priestory/01.jpg" alt="Image 1" />
      <div class="dim-background"></div>
      <div class="image-text">Krytá terasa</div>
    </a>
    <a routerLink="/image2">
      <img src="assets/img/priestory/02.jpg" alt="Image 2" />
      <div class="dim-background"></div>
      <div class="image-text">Priestory reštaurácie</div>
    </a>
    <a routerLink="/image3">
      <img src="assets/img/priestory/03.jpg" alt="Image 3" />
      <div class="dim-background"></div>
      <div class="image-text">Terasa</div>
    </a>
    <a routerLink="/image3">
      <img src="assets/img/priestory/04.jpg" alt="Image 4" />
      <div class="dim-background"></div>
      <div class="image-text">Vínna pivnička</div>
    </a>
    <a routerLink="/svadby/priestory/ubytovanie">
      <img src="assets/img/priestory/05.jpg" alt="Image 5" />
      <div class="dim-background"></div>
      <div class="image-text">Ubytovanie</div>
    </a>
  </div>
</div>
