<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    mode="over"
    position="end"
    [opened]="false"
  >
    <div class="sidenav-header">
      <button mat-icon-button class="close-button" (click)="drawer.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/svadby/domov"
        routerLinkActive="active"
        (click)="closeNav()"
        >Domov</a
      >
      <a
        mat-list-item
        routerLink="/svadby/kalendar"
        routerLinkActive="active"
        (click)="closeNav()"
        >Kalendár</a
      >
      <a
        mat-list-item
        routerLink="/svadby/rezervacia"
        routerLinkActive="active"
        (click)="closeNav()"
        >Rezervácia</a
      >
      <a
        mat-list-item
        routerLink="/svadby/obhliadka"
        routerLinkActive="active"
        (click)="closeNav()"
        >Obhliadka</a
      >
      <a
        mat-list-item
        routerLink="/svadby/priestory"
        routerLinkActive="active"
        (click)="closeNav()"
        >Priestory</a
      >
      <a
        mat-list-item
        routerLink="/svadby/blog"
        routerLinkActive="active"
        (click)="closeNav()"
        >Blog (Pripravujeme)</a
      >
    </mat-nav-list>

    <div class="social-icons">
      <button mat-icon-button class="social-icon facebook">
        <a href="https://www.facebook.com/penzionpalenicabernolakovo">
          <i class="fab fa-facebook-f"></i>
        </a>
      </button>
      <button mat-icon-button class="social-icon instagram">
        <a href="https://www.instagram.com/palenica_bernolakovo/">
          <i class="fab fa-instagram"></i>
        </a>
      </button>
      <button mat-icon-button class="social-icon google-maps">
        <a href="https://maps.app.goo.gl/1jkkLBxcpXomyK9F7">
          <i class="fas fa-map-marker-alt"></i>
        </a>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary" class="main-toolbar fixed-top">
      <img
        src="assets/img/logo/logo.png"
        height="45"
        alt="Penzión Pálenica"
        class="logo"
        [routerLink]="['/svadby']"
      />
      <span class="primary-text">Penzión Pálenica</span>
      <span class="spacer"></span>
      <button
        mat-icon-button
        class="phone-button"
        [routerLink]="['/svadby/obhliadka']"
      >
        <i class="fas fa-phone smaller-icon"></i>
      </button>
      <button mat-icon-button class="burger-button" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <app-breadcrumbs></app-breadcrumbs>
    <div class="content" [class.dimmed]="drawer.opened">
      <div
        class="overlay"
        *ngIf="drawer.opened"
        (click)="closeNav()"
        (keydown.enter)="closeNav()"
        (keydown.space)="closeNav()"
        tabindex="0"
      ></div>
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>

  <!-- Scroll to top button -->
</mat-sidenav-container>
