.tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; /* Center items vertically */
  gap: 20px;
  padding: 10px;
  height: 100%; /* Ensure the container takes full height */
}

.tile {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
}
