<div class="profile-container">
  <div class="section-first"></div>
  <div class="profile-photo"></div>
  <div class="section">
    <p>
      <span class="primary-text2">Nicole Guldanová </span> je skúsená svadobná
      organizátorka, ktorá sa postará o všetky vaše potreby a každý detail. S
      jej odbornými znalosťami a starostlivosťou bude vaša svadba
      nezabudnuteľná.
    </p>
  </div>
  <div class="section-contact">
    <p>
      <i class="fas fa-phone-alt icon black-color"></i>
      <a href="tel:+421245258425">+421 245 258 425</a>
    </p>
    <p>
      <i class="fas fa-envelope icon black-color"></i>
      <a href="mailto:penzionpalenica@penzionpalenica.eu"
        >penzionpalenica&#64;penzionpalenica.eu</a
      >
    </p>
  </div>
</div>

<!-- New blocks with photos as background -->
<div
  class="section photo-background"
  style="background-image: url('assets/img/obhliadka/01.webp')"
>
  <p class="animated-text" [@fadeInScale]="textStates[0]">
    Pomožem Vám s výberom správnych priestorov.
  </p>
</div>
<div
  class="section photo-background"
  style="background-image: url('assets/img/obhliadka/02.webp')"
>
  <p class="animated-text" [@fadeInScale]="textStates[1]">
    Naši odborníci vám pomôžu vybrať tie najkrajšie aranžmány.
  </p>
</div>
<div
  class="section photo-background"
  style="background-image: url('assets/img/obhliadka/03.webp')"
>
  <p class="animated-text" [@fadeInScale]="textStates[2]">
    Zabezpečenie všetkých detailov, od hudby až po catering.
  </p>
</div>
