<div class="main-content" id="home">
  <div class="section-top" id="hours">
    <div class="hero">
      <h1>Plávanie s Ninou</h1>
    </div>
    <div class="logo-circle">
      <img src="assets/img/logo/logo.jpeg" alt="Swimming Logo" />
    </div>
    <h2>Individuálne hodiny plávania</h2>
    <p>Join us for individual swimming sessions at your convenience.</p>
    <div class="wave-container">
      <svg
        class="wave"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
      >
        <path
          fill="#00bfff"
          fill-opacity="1"
          d="M0,64L48,85.3C96,107,192,149,288,176C384,203,480,213,576,197.3C672,181,768,139,864,138.7C960,139,1056,181,1152,186.7C1248,192,1344,160,1392,144L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </div>
  </div>

  <div class="section" id="services">
    <h2>Our Services</h2>
    <div class="items">
      <div class="item">
        <i class="fas fa-swimmer"></i>
        <p>Service 1 Description</p>
      </div>
      <div class="item">
        <i class="fas fa-water"></i>
        <p>Service 2 Description</p>
      </div>
      <div class="item">
        <i class="fas fa-life-ring"></i>
        <p>Service 3 Description</p>
      </div>
    </div>
  </div>
  <div class="new-section" id="new-section">
    <h2>Additional Services</h2>
    <p>Explore our additional services to enhance your swimming experience.</p>
    <div class="new-items">
      <div class="new-item">
        <i class="fas fa-dumbbell"></i>
        <p>Fitness Training</p>
      </div>
      <div class="new-item">
        <i class="fas fa-spa"></i>
        <p>Spa Services</p>
      </div>
      <div class="new-item">
        <i class="fas fa-child"></i>
        <p>Kids Swimming Lessons</p>
      </div>
      <div class="new-item">
        <i class="fas fa-swimming-pool"></i>
        <p>Pool Parties</p>
      </div>
    </div>
  </div>
  <div class="section" id="contact">
    <h2>Kontakt</h2>
    <div class="contact-content">
      <div class="contact-photo">
        <img src="assets/img/contact_photo.jpg" alt="Contact Photo" />
      </div>
      <p>
        Email:
        <a href="mailto:info@swimming.com">nina.brezakova&#64;gmail.com</a>
      </p>
    </div>
  </div>
  <div style="height: 200px"></div>
  <footer>
    <p>&copy; 2023 Plávanie s Ninou. All rights reserved.</p>
  </footer>
</div>
