@import "../../../styles.scss";

.section-container {
  position: relative;
  background-size: cover;
  background-position: center;
  height: calc(
    100vh - var(--header-height) - 10px
  ); // calc(100vh - var(--header-height) - var(--footer-height));
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.dim-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25); /* Semi-transparent overlay */
}

.title {
  position: relative;
  color: white;
  padding: 20px;
  padding-top: 70px;
}

.content {
  position: relative;
  color: white;
  padding: 20px;
  padding-top: 0px;
  max-width: 80%;
}

.button-container {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 25px; /* Increase font size */
  //color: white; /* Adjust text color for better visibility */
  background-color: transparent; /* Make button background transparent */
  //background: rgba(0, 0, 0, 0.5); /* Same background as content */
  border: 1px solid white; /* Optional: Add border for better visibility */
  cursor: pointer;
  text-transform: uppercase;
  background: white;
  color: var(--black);
}

.no-style-link {
  color: inherit; /* Inherit color from the parent element */
  text-decoration: none; /* Remove underline */
}

// .no-style-link:hover {
//   color: inherit; /* Ensure color does not change on hover */
//   text-decoration: none; /* Ensure underline does not appear on hover */
// }
